.error-body{
    width:100vw;
    height:100vh;
    background:black;
}

.expired-body{
    width:100vw;
    height:100vh;
    background:#00afcc;
}


.expired-image{
    margin-left:27%;
}

.whistle{
    width: 20%;
    fill: #fdda00;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle .2s infinite;
}

@keyframes wiggle {
    0%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(3deg);
    }
}
.h1-forbidden{
    margin-top: -100px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 90px;
    font-weight: 800;
}
.h2-forbidden{
    color: white;
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -10px;
}

.h2-forbidden a{
    color: black;
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -10px;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .expired-image{
        margin-left:-50%;
    }

    .h1-forbidden{
        margin-top: -190px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
        font-family: 'Raleway', serif;
        font-size: 90px;
        font-weight: 800;
    }
    .h2-forbidden{
        color: white;
        text-align: center;
        font-family: 'Raleway', serif;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: -10px;
    }
}
.flickr {
    color:#fdda00;
    font-family: 'Raleway', sans-serif !important;
    font-size:64px !important;
    letter-spacing:10px;
    animation: text-flicker 3s linear infinite;
    cursor:pointer;
}

#offset {
    animation: letter-flicker 2s linear infinite;
    font-size:64px;
}

@keyframes text-flicker {
    0% {
        opacity:0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    2% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    8% {
        opacity:0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    9% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    12% {
        opacity:0.1;
        text-shadow: 0px 0px rgba(242, 22, 22, 1);
    }
    20% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    25% {
        opacity:0.3;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    30% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }

    70% {
        opacity:0.7;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }

    72% {
        opacity:0.2;
        text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
    }

    77% {
        opacity:.9;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    100% {
        opacity:.9;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
}

@keyframes border-flicker {
    0% {
        opacity:0.1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }
    2% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }
    4% {
        opacity:0.1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }

    8% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }
    70% {
        opacity:0.7;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }
    100% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
        box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    }
}

@keyframes letter-flicker {
    0% {
        opacity:0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    2% {
        opacity:0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    4% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }


    19% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    21% {
        opacity:0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    23% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    80% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    83% {
        opacity:0.4;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    87% {
        opacity:1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
}
