.password-panel
{
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%, -50%);
    width:420px !important;
    background:white;
    border:1px solid lightgray !important;


}

.password-main
{
    background:#F7F7F6;
    width:100vw;
    height:100vh;
}

.password-lock{
margin-left:-55px;
}

.padding-util{
    margin-top: -2px !important;
}

.password-error{
    background-color:#e40613 !important;
    height:20px;
    text-align:center;
    transition: opacity 2s ease-in;
    width:340px;
    margin-left: 23px;
}

.password-error span{
    text-align:center;
    font-size:15px !important;
    margin-top:-10px;
    margin-left:18px;

}
.alert-yellow{
    background-color:#fe9927 !important;
}

.password-login {
    text-decoration: underline;
    color: #fdda00;
    cursor:pointer;
}
